# Logs
*.log
npm-debug.log*

# Runtime data
*.pid
*.seed

# Dependency directories
node_modules/
bower_components/

# Build output
dist/
build/

# Coverage output
coverage/
*.lcov
.nyc_output

# Parcel / Webpack / Vite cache
.cache/
.parcel-cache/

# VSCode
.vscode/

# Environment variables
.env
.env.*

# Optional caches
.eslintcache
.stylelintcache

# Output of 'npm pack'
*.tgz

# OS-specific files
.DS_Store
Thumbs.db

# Chrome extension
*.crx
*.pem

